[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
isort = "*"
flake8 = "*"
dlint = "*"
flake8-bandit = "*"
flake8-blind-except = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-string-format = "*"
flake8-commas = "*"
flake8-quotes = "*"
flake8-logging-format = "*"
mccabe = "*"
pep8-naming = "*"
pycodestyle = "*"
flake8-rst-docstrings = "*"
flake8-pep3101 = "*"
flake8-mutable = "*"

[packages]
django-environ = "*"
psycopg2 = "*"
celery = "<6.0"
ipython = "*"
django-templated-email = "*"
sentry-sdk = "*"
newrelic = "*"
djangorestframework = ">=3.10"
drf-secure-token = "*"
gunicorn = "*"
futures = "==3.1.1"
# BlobPermissions not available in 12 release (https://github.com/Azure/azure-sdk-for-python/blob/22be12d5fa3604acde0695705993347787497a2e/sdk/storage/azure-storage-blob/CHANGELOG.md#1200b4-2019-10-08)
azure-storage-blob = "<12.0.0"
django-storages = {version = "*", extras = ["azure"]}
django-compressor = "*"
boto3 = "*"
Django = ">=2.2,<3"
django-model-utils = "*"
django-timezone-field = "*"
django-mptt = "*"
Pillow = "*"
djangorestframework-gis = "*"
factory-boy = "*"
django-filter = "*"
drf-nested-routers = "*"
django-crispy-forms = "*"
xlrd = "*"
django-mapbox-location-field = "*"
django-cors-headers = "*"
django-modeladmin-reorder = "*"
django-redis = "*"
numpy = "==1.20.1"
sklearn = "*"
django-mptt-admin = "*"
isoweek = "*"
geopy = "*"
scipy = "*"
django-constance = "*"
gitpython = "*"
unicef-restlib = "*"
flask = "*"

[requires]
python_version = "3.8"
